body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
#box-el{
    background: lightseagreen;
    cursor: pointer;
    padding:40px;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    color: white;
    font-weight: bold;
}